---
layout: archive
title: "Leadership Experience"
permalink: /leadership/
author_profile: true
---

<!-- {% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

<p><strong>Open Source @ Illinois</strong>  <br> 
  OpenDev Co-Director | Jun. 2023 - Present<br>

  <ul>
    <li>
      Managing 4 pioneering projects in accessibility in CS, web-dev, AI/ML, and ECE, ensuring seamless planning and execution.
    </li>
    <li>
      Balancing funding, coordinated recruitment, and organized workshops for skill enhancement.
    </li>
  </ul>

</p>

<p><strong>EXPO Engineering Council</strong>  <br> 
  Reverse Career Fair Lead | Jun. 2023 - Present<br>

  <ul>
    <li>
      Facilitated communication between companies and RSOs and handled the logistics for the event.
    </li>
    <li>
      Handled logistics and communication with companies and registered students on the day of.
    </li>
  </ul>

</p>

<p><strong>Reflections Projections 2023, Association of Computing Machinery</strong>  <br> 
  Content Team Member | Jan. 2023 - Sep 2023<br>

  <ul>
    <li>
      Facilitated communication with keynote speakers, chief guests, educationists, and other sponsors.
    </li>
    <li>
      Organized tech talks with speakers from University of Michigan and StatQuest at the 29th edition of Reflections Projections at UIUC.
    </li>
  </ul>

</p>

<p><strong>Unmasking Sustainability</strong>  <br> 
  Co-Founder | Jun. 2021 - Jan. 2022<br>

  <ul>
    <li>
      Founded Unmasking Sustainability, a Non-Profit Organization; employed my school's female support staff who had lost their jobs to create a sustainable method of disposing and manufacturing masks.
    </li>
    <li>
      Sold over 800 masks; generated over 40,000 INR; donated over 200 masks over a period of 1 month.
    </li>
  </ul>

</p>