---
layout: archive
title: "Leadership Experience"
permalink: /leadership/
author_profile: true
---

<!-- {% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

<p><strong><a href = "https://opensourceatillinois.com/">Open Source @ Illinois </a></strong><br> 
  OpenDev Co-Director | Jun. 2023 - Present<br>

  <ul>
    <li>
      Supervise four projects in accessibility in CS, web-dev, AI/ML, and ECE, by providing feedback and ensuring goal achievement through periodic meetings.
    </li>
    <li>
      Optimize funding, coordinate recruitment, and organize workshops for skill enhancement.
    </li>
  </ul>

</p>

<p><strong><a href = "http://illinoisexpo.org/">EXPO Engineering Council </a></strong>  <br> 
  Reverse Career Fair Lead | Jun. 2023 - Present<br>

  <ul>
    <li>
      Facilitated communication between over 30 companies and RSOs to organize the \textit{Reverse Career Fair} which is targeted at providing a low-stress setting for RSO leads to interact and form connections with industry representatives.
    </li>
    <li>
      Spearheaded logistics and communication with companies and registered students on the day of.
    </li>
  </ul>

</p>

<p><strong><a href = "https://reflectionsprojections.org/">Reflections Projections 2023, Association of Computing Machinery</a></strong>  <br> 
  Content Team Member | Jan. 2023 - Sep 2023<br>

  <ul>
    <li>
      Recruited keynote speakers, chief guests, educationists, and other sponsors and orchestrated communication with them.
    </li>
    <li>
      Organized 10+ tech talks by inviting speakers including Dr. Mark Guzdial from the University of Michigan and Dr. Josh Starmer from StatQuest.
    </li>
  </ul>

</p>

<p><strong>Unmasking Sustainability</strong>  <br> 
  Co-Founder | Jun. 2021 - Jan. 2022<br>

  <ul>
    <li>
      Founded Unmasking Sustainability, a Non-Profit Organization; employed my school's female support staff who had lost their jobs, coordinated periodic meetings, gathered raw materials, and managed revenues to create a sustainable method of manufacturing masks.
    </li>
    <li>
      Sold over 800 masks; generated over 40,000 INR; donated over 200 masks over a period of 1 month.
    </li>
  </ul>

</p>