---
layout: archive
title: "Projects"
permalink: /talks/
author_profile: true
---

<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->

<p><strong>AI@UIUC, University of Illinois</strong>  <br> 
  Technical Staff | Jan. 2023 - Present<br>

  <ul>
    <li>
      Developing the minimal viable prototype for the front-end for an app called Be+ on behalf of the youtuber DaxFlame.
    </li>
    <li>
      Utilizing React Native and Figma as part of the process.
    </li>
  </ul>

</p>

<p><strong>LMS Tracker</strong>  <br> 
  Independent Project | Jun. 2023 - Present<br>

  <ul>
    <li>
      Designing an android application to support viewing all courses with their respective platforms in a single location. Added a feature to view the average expected grade for the semester based on the chosen courses and their average GPAs.
    </li>
    <li>
      Leveraging Kotlin for the front-end and back-end development and integrated it with SQLite for database management.
    </li>
  </ul>

</p>


<p><strong>Klimacc</strong>  <br> 
  Team Project | Jan. 2021 - Dec. 2021<br>

  <ul>
    <li>
      Built a user-friendly GUI weather application that predicts current weather conditions.
    </li>
    <li>
      Deployed the application using Python for the back-end and integrated it with the Tkinter module for front-end.
    </li>
  </ul>

</p>

<p><strong>Parivartan</strong>  <br> 
  Group Lead, Team Project | Dec. 2019 - Jan. 2021<br>

  <ul>
    <li>
      Engineered a prototype of a fingerprint recognition enabled and smart chip driving license to abate deaths due to underage driving. Implemented using Python for software and created the minimal viable prototype using Raspberry Pi.
    </li>
    <li>
      Bagged the third prize globally; Quantahacks organized by STEM for FEM in Jan 2021.
    </li>
  </ul>

</p>