---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->

<p><strong>AI@UIUC, University of Illinois</strong>  <br> 
  Technical Staff | Jan. 2023 - Present<br>
  <ul>
    <li>
      Built a React Native-based minimal viable prototype of the front-end for the mobile application "Be+" for our client; the YouTuber DaxFlame.
    </li>
    <li>
      Engineered Be+ to utilize a short personality test and supplementary questionnaires to generate a unique chat-bot, referred to as a "+." Over time, these chat-bots become digital representations of users, learning to mimic their mannerisms and answer questions about them through ongoing conversations.
    </li>
    <li>
      Engaged in periodic check-ins with the client for client need analysis and presented project updates. 
    </li>
  </ul>
</p>

<p><strong>LMS Tracker</strong>  <br> 
  Independent Project | Jun. 2023 - Present<br>
  <ul>
    <li>
      Design an Android application to consolidate course information (assignments, course material, due dates, announcements) of all students' courses in a single location. Added a feature to view the average expected grade for the semester based on the chosen courses and their average GPAs.
    </li>
    <li>
      Leverage Kotlin for the front-end and back-end development and integrated it with SQLite for database management.
    </li>
  </ul>
</p>

<p><strong>Klimacc</strong>  <br> 
  Team Project | Jan. 2021 - Dec. 2021<br>
  <ul>
    <li>
      Built a user-friendly weather application that analyzes past data to build a model that predicts future weather conditions.
    </li>
    <li>
      Designed the GUI using the Tkinter module and deployed the application using Python for the back-end.
    </li>
  </ul>
</p>

<p><strong>Parivartan</strong>  <br> 
  Group Lead, Team Project | Dec. 2019 - Jan. 2021<br>
  <ul>
    <li>
      Engineered a prototype of a smart chip driving license system with a fingerprint recognition feature in the car to abate deaths due to underage driving. Created the minimal viable prototype using Raspberry Pi and Python.
    </li>
    <li>
      Awarded the third prize globally in Quantahacks, a hackathon organized by STEM for FEM. Featured among the top 500 of the 7200 innovations presented in the ATL Marathon organized by Niti Aayog, a Government of India think tank to promote research and innovation. 
    </li>
  </ul>
</p>