---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<h2>Research Experience, Posters, and Publications</h2>
  
<p><strong>Department of Computer Science, University of Illinois</strong><br> 
Undergraduate Researcher, Social Computing Laboratory | Aug 2023 - Present<br>
Mentor: Dr. Eshwar Chandrasekharan <br>
<ul>
  <li>
    Measuring the efficacy of positive reinforcement moderation on sub-reddits.
  </li>
              
  <li>
    Identifying examples of positive reinforcement in historical data using Python Reddit API Wrapper (PRAW) and Pandas in Python to then analyze data from before and after the event to understand the impact of such reinforcement on user behaviour.
  </li>            
</ul>            
</p>
                
<p><strong>Department of Computer Science, University of Illinois</strong>  <br>             
  Independent Study (CS 397) | Aug 2023 - Present<br>            
  Mentor: Dr. Koustuv Saha <br>
            
  <ul>            
    <li>
                  Conducting a comprehensive quantitative and qualitative research focused on the examination and comparison of the disparities observed within a spectrum of query results.
                </li>
                <li>
                  Generating results by large language models like ChatGPT using the OpenAI API and responses to the same questions collected via Stack Overflow using Python Reddit API Wrapper (PRAW).
                </li>
                <li>
                  Performing qualitative analysis using inductive coding to gain insights into this data.
                </li>
              </ul>
            </p>
  
              <p><strong>Department of Computer Science, University of Illinois</strong>  <br> 
              CS Student Ambassador/Research Scholar | Jan 2023 - Present<br>
              Mentor: Dr. Kathryn Cunningham <br>

              <ul>
                <li>
                  Pursuing research focused on the search for code patterns in domains that interest non-majors.
                </li>
                <li>
                  Analyzed and identified domain-specific code patterns from Stack Overflow via web-scraping using Beautiful Soup in Python.
                </li>
                <li>
                  Looking at code similarity algorithms and other NLP techniques and testing whether they can programmatically identify patterns.
                </li>
              </ul>
            
            </p>
  
              <p><strong>Department of Computer Science, University of Illinois</strong>  <br> 
              Undergraduate Summer Research Intern | May 2023 - Jul 2023<br>
              Mentor: Dr. Kathryn Cunningham <br>

              <ul>
                <li>
                  Published initial findings as a poster titled <em>Towards Methods for Identifying High-Quality Domain-Specific Programming Plans</em> suggesting and comparing potential techniques for plan identification at ACM Conference on International Computing Education Research (ICER) 2023. 
                  DOI: <a href="https://doi.org/10.1145/3568812.3603478">https://doi.org/10.1145/3568812.3603478</a>
                </li>                
                <li>
                  Interviewed researchers who identified novel programming plans to investigate the state of art of plan identification and its challenges.
                </li>
                <li>
                  Performed qualitative coding to thematically analyze data and draw conclusions in regards to the methodology that researchers and instructors employ to find and create programming plans.
                </li>
                <li>
                  Submitted the findings as a potential research paper for the ACM (Association of Computing Machinery) CHI conference on Human Factors in Computing Systems.
                </li>
              </ul>
            
            </p>
            </div>